# Ignore all dot files except
.*
!.editorconfig
!.gitattributes
!.gitignore

######################
# Node
######################
node_modules/

######################
# Maven
######################
target/
pom.xml.bak
pom.xml.versionsBackup

######################
# Maven Wrapper
######################
!.mvn

######################
# Intellij Idea
######################
*.iml

######################
# Visual Studio Code
######################
.vscode/
